@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

.header {
  width: 99.14vw;
  height: 15vh;
  color: #fff;
  background: #ff9300;

  .header_container {
    height: 100%;
    width: 100%;
    p {
      margin: 0px;
    }
    .header_body {
      height: 100%;
      width: 100%;
      font-family: "Poppins", sans-serif;
      font-weight: bolder;
      display: flex;
      align-items: center;
      padding-left: 3%;

      .fotoLogo {
        width: 10%;
        height: 100%;
      }

      .header_list {
        height: 100%;
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0px;
        flex-wrap: wrap;
        li {
          display: inline;
          padding: 15px;
          transition: 0.5s;
          cursor: pointer;
          &:hover {
            border-radius: 7px;
            background: #df8200;
          }
        }
      }
    }
  }

  .hidden {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .header_body {
    height: 50%;
    width: 100%;
    .header_list {
      padding-left: 0;
      justify-content: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        padding: 0px;
        margin: 7px;
      }
    }
  }
}
