.aside_filter {
  min-height: 100%;
  width: 20vw;
  min-width: 20vw;
  border-right: 1px solid #000;
}

.filter_container {
  padding-top: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 40px;
  }

  input {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    padding: 5px;
    transition: 0.2s;

    &:hover {
      border-bottom: 2px solid #c05;
    }
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .aside_filter {
    width: 100%;
  }
}
