.datos {
  padding: 10px;
  padding-bottom: 30px;
  height: fit-content;
  cursor: pointer;
}

.red {
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;
}

.red_data {
  margin-left: 10px;
  font-size: 15px;
}
