.presentacion {
  height: 697px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #000;
  color: #000;
  .presentacion_info {
    height: 100%;
    width: 100%;
    min-width: 50%;
  }
  .presentacion_info_header {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 80px;
    }
  }
  .presentacion_info_body {
    height: 70%;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    h6, h7{
      font-size: 30px;
      font-weight: lighter;
    }
    h7{
      margin: 2%;
      text-align: center;
    }
    .contact_button {
      width: 300px;
      height: 60px;
      align-self: center;
      border-radius: 7px;
      border: 1px solid #fff;
      color: #fff;
      background: #ff9300;
      cursor: pointer;
      font-weight: bolder;
      font-size: 25px;
      transition: 0.5s;

      &:hover {
        background: #df8200;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .presentacion {
    display: block;
    height: 500px;
    .presentacion_info_header {
      height: 20%;
      h1 {
        font-size: 50px;
      }
    }
    .presentacion_info_body {
      h6{
        font-size: 15px;
      }
       h7 {
        font-size: 15px;
        margin: 8%;
      }
      .contact_button {
        height: 50px;
        width: 200px;
        font-size: 15px;
      }
    }
  }
}
